<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="GetFileName" value="/api/GetTextFile/GetFileName"/>
		<add key="GetText" value="/api/GetTextFile/GetText"/>
		<add key="EndPointUri" value="C:\BioLink\EndPointUri.txt"/>
		<add key="PathToWriteFile" value="C:\BioLink\PathToWriteFile.txt"/>
	</appSettings>
</configuration>